
body{

font-family:"Times New Roman", serif;
margin:0;
background:white;

}


/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:30px 80px;
border-bottom:1px solid #eee;

}

.nav-links a{

margin-left:25px;
text-decoration:none;
color:black;

}

/* BOOK */

.book{

width:900px;
margin:80px auto;

}


/* PAGE */

.page{

display:none;

}

.page.active{

display:block;

}


/* SPREAD */

.spread{

display:grid;

grid-template-columns:1fr 1fr;

gap:120px;

}


/* ITEM */

.item img{

width:100%;

}


/* NUMBER */

.number{

font-size:10px;
color:#777;

}


/* CAPTION */

.caption{

font-size:12px;
margin-top:6px;

}
